/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: #f9570f;
}

.contact-header h1::after {
  content: " ";
  display: block;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;
  width: 30%;
  margin-top: 10px;
  margin-left: 30px;
}
.contact .contact-header h1 {
  color: #fff;
  font-weight: 700;
}

.contact #btnContactUs {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #f9570f;
  background-color: #f8f8f8;
}
.contact form label {
  font-size: 24px;
}

.contact form input,
#subject,
.contact textarea {
  font-size: 15px;
}
