.donate {
  background-color: #f9570f;
  color: #f8f8f8;
  overflow: hidden;
}

.breadcrumbs-donate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.51)),
    url(../img/hands2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: #f8f8f8;
}
.breadcrumbs-donate .container {
  position: relative;
  top: 50%;
}

.breadcrumbs-donate .container .tose-about h1 {
  font-weight: 700;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}

.breadcrumbs-donate h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs-donate p {
  font-size: 14px;
  margin-bottom: 0;
}
@media (max-width: 595px) {
  .breadcrumbs-donate .container .tose-about h1 {
    font-size: 45px;
  }
}
@media (max-width: 324px) {
  .breadcrumbs-donate .container .tose-about h1 {
    font-size: 40px;
  }
}
.donate b {
  font-size: 25px;
  font-weight: 600;
}
.donate p {
}

.donate .donate-btn {
  font-size: 20px;
  font-weight: 700;
  color: #f9570f;
  background-color: #f8f8f8;
}
