
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #1e4356;
  background-color: #fff;
	
}

a {
  color: #4fa6d5;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background:#00a4ccff;
 	
}

#header.header-transparent {
  background: rgba(8, 8, 8, 0.04);
 	
}

#header.header-scrolled a{
  color: #000;
}
#header.header-scrolled {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);	
  background:#fff;
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0 ;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #f95700ff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0; 
}

#main {
  margin-top: 80px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;	
}

.nav-menu .bg-color {
	background: #00a4ccff;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #1c3745;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #68A4C4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1e4356;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ddecf5;
  padding: 10px 20px;
  font-weight: 500;
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 67, 86, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#hero::after{

  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(0, 164, 204, 0.58),rgba(249, 87, 0, 0.22)), url("../img/test-bg.jpg") center no-repeat;
  background-size: 1300px ;	
  z-index: 0;
  border-radius: ;
  transform: translateX(-50%) rotate(0deg);
}


#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  margin-top: 80px;	
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
  font-size: 20px;
  font-weight: 700;	
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  display: none;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #cccccc;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f95700ff;
}

#hero .btn-get-started:hover {
  background: #f95700ff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero::after {
    width: 180%;
    height: 100%;
  
  }
 
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: 30px;
  }
  #hero::after {
    left: 40%;
    top: 0;
    width: 200%;
    height: 100%;
  }
 
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
  background:#f95700ff ;	
	color: #fff;
}
.about h2 {
  font-weight: 400;
  color: #fff;	
  margin-left: 0;
  padding-left: 0;
}
.about p {
 
}
.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 25px;
  padding-right: 4px;
  color: #045174;
}

.about p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breaker
--------------------------------------------------------------*/

#breaker {
	background: #cb2d6f;
	width: 100%;
	color: #cccccc
}

#breaker .row{
	position: relative;
	width: 100%;
}

#breaker .breaker-btn {
	background-color: transparent;
	border: #cccccc solid 2px;
}
.breaker-btn a {
	color: #cccccc;
	display: block;
}


@media (max-width: 768px) {
  #breaker{
    display: none;
  
  }
 
}

@media (max-width: 575px) {
  #breaker{
    display: none;
  
  }
 
}

/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services {
  background-color: #eef4f7;
}

.services h2{
	color:#00a4ccff;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0  0 40px 0;
  background-color: #fff;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
}

.services .title {
  font-weight: 700;
  font-size: 17px;
}

.services .title a {
  color: #00a4ccff;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  font-weight: 700px;
  margin-bottom: 0;
  text-align: left;
  color: #000;
}

.services .icon-box-cyan .icon {
  background: #fff;

}

.services .icon-box-cyan .icon i {
  color: #f95700ff;
}


/*--------------------------------------------------------------
# Tetstimonials #eef4f7
--------------------------------------------------------------*/

.testimonials-clean {	
  color: #fff;
  background:#f95700ff;
  background-size: 1300px;	
  background-position: center;	
}

.testimonials-clean h2 {
  font-weight: bold;
  padding-top: 40px;
  color: inherit;
}

.testimonials-clean .description {
	color: #fff;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.testimonials-clean .intro p {
  margin-bottom: 0;
}

.testimonials-clean .people {
  padding: 50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background:#fff;
  position: relative;
}

.testimonials-clean .item .box:after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #000	
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
  color: #000;	
}

.testimonials-clean .item img {
  max-width: 100px;
  max-height: 70px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: #eef4f7;	
}

.contact h2 {
	color: #00a4ccff;
}

.contact .info-box {
  background: #045174;	
  text-align: center;
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
}

.info-box i {
  font-size: 25px;
  color: #e87a00;
  padding: 8px;
 
}

.info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  color: #eef4f7;	
  margin-bottom: 0;
  display: inline;
}

.contact {

  padding: 30px;
  margin-bottom: 30px;
  background: #eef4f7;	
}

.contact .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact  .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact  .error-message br + br {
  margin-top: 25px;
}

.contact .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact  .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact  .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact  input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;	
}

.contact  input::focus, .contact .php-email-form textarea::focus {
  background-color: #68A4C4;
}

.contact input {
  padding: 20px 15px;
}

.contact textarea {
  padding: 12px 15px;

}

.contact button[type="submit"] {
  background-color: #f95700ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact  button[type="submit"]:hover {
  background: #8dbad2;
}

.form-bg{
	background: #eef4f7;
    border: #00a4ccff solid 2px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  color: #fff;
  font-size: 10px;
}

#footer .credits {
  background: #000;
}

.newsletter-subscribe {
  color: #313437;
  padding: 50px 0;
}

.newsletter-subscribe p {
  color: #7d8285;
  line-height: 1.5;
}

.newsletter-subscribe h1 {
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: #eef4f7;
}

.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.newsletter-subscribe .intro p {
  margin-bottom: 35px;
}

.newsletter-subscribe form {
  justify-content: center;
}

.newsletter-subscribe form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.newsletter-subscribe form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.newsletter-subscribe form .btn:hover {
  opacity: 1;
}

.newsletter-subscribe form .btn:active {
  transform: translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color: #f95700ff !important;
  color: #fff;
  outline: none !important;
}

@media (max-width: 768px) {
	.newsletter-subscribe .intro h1 {
		font-size: 30px;
}

.newsletter-subscribe .intro p {
  margin-bottom: 35px;
  font-size: 12px;
}

 
